.panel {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0;
    min-width: 350px;
    height: 100vh;
    overflow-X: scroll;


    .clock {
        color: lightgreen;
        background-color: black;
        text-align: center;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;

        h1 {
            font-size: 3.5rem;
        }

        &:hover{
            cursor: pointer;
        }
    }

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 2.1rem;
        margin: 1rem;
        transition: all .5s;
        margin-bottom: 2rem;
    
        .search-bar {
            height: 100%;
            border-radius: 1rem;
            border: 2px solid #0d1117;
            outline: none;
            padding: 0 0.5rem;
            background-color: #0d1117;
            transition: all .5s;
            color: #f0f6fc;;
    
            &::placeholder{
                color: #f0f6fc;;
            }
    
            &:focus {
                border: 2px solid #d9eb52;
                transition: all .5s;
            }
        }
    
        i {
            transform: translate(-160%);
    
            &:hover {
                cursor: pointer;
                color: #d9eb52;
            }
        }
    }

    .postcode-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .state-name {
            font-weight: bold;
            color: orange;
            font-size: 1.5rem;
        }
    }
    
}