.panel {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0;
    min-width: 370px;
    height: 100vh;
    overflow-x: scroll;

    .clock {
        color: lightgreen;
        background-color: black;
        text-align: center;
        width: 100%;
        padding: 1rem;

        h1 {
            font-size: 3.5rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 2.1rem;
        margin: 1rem;
        transition: all 0.5s;
        margin-bottom: 2rem;

        .search-bar {
            height: 100%;
            border-radius: 1rem;
            border: 2px solid #0d1117;
            outline: none;
            padding: 0 0.5rem;
            background-color: #0d1117;
            transition: all 0.5s;
            color: #f0f6fc;

            &::placeholder {
                color: #f0f6fc;
            }

            &:focus {
                border: 2px solid #d9eb52;
                transition: all 0.5s;
            }
        }

        i {
            transform: translate(-160%);

            &:hover {
                cursor: pointer;
                color: #d9eb52;
            }
        }
    }

    .postcode-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5rem 0;
        background-color: black;
        margin-bottom: 2rem;

        .state-name {
            font-weight: bold;
            color: orange;
            font-size: 1.5rem;
        }

        .suburbs {
            width: 100%;
            max-height: 10rem;
            overflow-y: scroll;
            text-align: center;

            &::-webkit-scrollbar {
                display: none;
            }

            /* Hide scrollbar for IE, Edge and Firefox */
            & {
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
        }
    }

    .timezone__converter {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;

        background-color: black;

        .timezone__converter__container_from {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 1rem;

            .typeSelector {
                display: flex;
                justify-content: center;
                align-items: center;

                /* Style The Dropdown Button */
                .dropbtn {
                    background-color: #0a247a;
                    color: #ffcb05;
                    padding: 0.5rem;
                    font-size: 0.9rem;
                    outline: none;
                    border: 1px solid black;
                    cursor: pointer;
                    margin-right: 0.5rem;

                    // @media (max-width: 1000px) {
                    //   width: 8rem;
                    //   height: 2rem;
                    //   font-size: 0.7rem;
                    // }

                    // @media (max-height: 500px) {
                    //   margin: 0.1rem;
                    // }

                    &:focus {
                        border: 1px solid #ffcb05;
                    }
                }

                /* The container <div> - needed to position the dropdown content */
                .dropdown {
                    position: relative;
                }

                /* Dropdown Content (Hidden by Default) */
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #ffcb05;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }

                /* Links inside the dropdown */
                .dropdown-content option {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;

                    @media (max-width: 1000px) {
                    }
                }

                /* Change color of dropdown links on hover */
                .dropdown-content option:hover {
                    background-color: #f1f1f1;
                }

                /* Show the dropdown menu on hover */
                .dropdown:hover .dropdown-content {
                    display: block;
                }

                /* Change the background color of the dropdown button when the dropdown content is shown */
                .dropdown:hover .dropbtn {
                    background-color: #0a247a;
                }
            }

            .input__time {
                font-size: 1rem;
                padding: 0.2rem;
                margin-left: 0.5rem;
            }
        }

        .submit__button {
            padding: 0.3rem 0.5rem;
            margin-bottom: 1rem;

            &:hover {
                cursor: pointer;
            }
        }

        .converted__time {
            .state-list {
                font-weight: bold;
                color: orange;
            }
        }
    }
}
