.state {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: .5rem;
    background-color: black;
    color: #6dce66;
    border-radius: .3rem;
}

.WA {
    left: 22%;
    top: 41%;
}

.NT {
    top: 30%;
}

.SA {
    bottom: 40%;
}

.QLD {
    right: 25%;
    top: 40%;
}

.NSW {
    right: 20%;
    bottom: 30%
}

.VIC {
    right: 29%;
    bottom: 18%
}

.TAS {
    bottom: 2%;
    right: 28%
}