.state {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: .5rem;
    background-color: black;
    color: lightgreen;
    border-radius: .3rem;
    font-size: 1.3rem;
    cursor: pointer;

    .state-name {
        color: #FFCD00;
    }
}

.WA {
    left: 25%;
    top: 45%;
}

.NT {
    top: 30%;
}

.SA {
    bottom: 40%;
    right: 44%
}

.QLD {
    right: 25%;
    top: 40%;
}

.NSW {
    right: 20%;
    bottom: 31%
}

.VIC {
    right: 29%;
    bottom: 16.5%
}

.TAS {
    bottom: 2%;
    right: 28%
}

.NZ {
    bottom: 10%;
    right: 1%
}