* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.App {
  background-color: #282c34;
  min-height: 100vh;

  .app__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    .panel {
      background-color: #1a1d22;
      width: 100%;
      height: 7rem;
      justify-self: flex-start;
    }

    .map__container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 85rem;
      height: 100%;

      .map {
        width: 100%;
        height: 95%;
        max-width: 85rem;
        min-width: 60rem;
      }

      .WA {
        position: absolute;
        left: 17%;
        top: 41%;
        background-color: white;
        height: 10rem;
        width: 10rem;
      }
    }

  }
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
